@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";


body {
  @apply min-h-screen flex flex-col bg-gray-100 text-gray-800;
  font-family: 'Jetbrains Mono', monospace;
}

@layer components {
  .event-info {
    @apply w-full border-3 rounded-md border-gray-800 text-sm text-left overflow-y-auto min-h-40 max-h-50 col-span-2 row-span-1;
  }
  .event-info h1 {
    @apply uppercase text-2xl font-bold text-gray-800 p-1;
  }
  .event-info p {
    @apply uppercase text-lg font-medium text-gray-700 p-1;
  }
  .event-info-skeleton {
    @apply min-h-40 min-w-50  bg-gray-300 animate-pulse;
  }

  .next-event {
    @apply w-full border-3 rounded-md border-gray-800 text-sm text-left overflow-y-auto min-h-40 max-h-50 col-span-1 row-span-1 lg:col-span-2;
  }
  .next-event h1 {
    @apply uppercase text-2xl font-bold text-gray-800 p-1;
  }
  .next-event p {
    @apply uppercase text-lg font-medium text-gray-700 p-1;
  }
  .next-event-skeleton {
    @apply min-h-40 min-w-50  bg-gray-300 animate-pulse;
  }

  .past-season {
    @apply w-full border-3 rounded-md border-gray-800 text-sm text-left overflow-y-auto min-h-40 max-h-50 col-span-1 row-span-1;
  }
  .past-season h1 {
    @apply uppercase text-2xl font-bold text-gray-800 p-1;
  }
  .past-season p {
    @apply lowercase text-lg font-medium text-gray-700 p-1;
  }

  .schedule {
    @apply w-full border-3 rounded-md border-gray-700 text-sm p-1 overflow-y-auto max-h-150 col-span-1 row-span-3;
  }
  .schedule h1 {
    @apply uppercase text-2xl font-bold text-gray-800;
  }
  .schedule {
    @apply text-lg font-medium text-gray-800;
  }
  .schedule p {
    @apply font-light text-gray-800;
  }
  .schedule-skeleton {
    @apply min-h-150 min-w-50  bg-gray-300 animate-pulse;
  }

  .session-selector {
    @apply w-full border-3 rounded-md border-gray-800 text-sm text-left overflow-y-auto min-h-40 max-h-50 col-span-2 row-span-1 lg:col-span-1;
  }
  .session-selector h1 {
    @apply uppercase text-2xl font-bold text-gray-800 p-1;
  }
  .session-selector p {
    @apply uppercase text-sm font-medium text-gray-700 p-1;
  }
  .session-selector button {
    @apply uppercase text-sm text-gray-700 p-1 block;
  }
  .session-selector-skeleton {
    @apply min-h-40 min-w-50  bg-gray-300 animate-pulse;
  }
  .session-selected {
    @apply font-extrabold;
  }
  .session-not-selected {
    @apply font-light;
  }

  .season-info {
    @apply w-full border-3 rounded-md border-gray-800 text-sm text-left overflow-y-auto min-h-40 max-h-50 col-span-1 row-span-1;
  }
  .season-info h1 {
    @apply uppercase text-2xl font-bold text-gray-800 p-1;
  }
  .season-info p {
    @apply uppercase text-lg font-medium text-gray-700 p-1;
  }
  .season-info-skeleton {
    @apply min-h-40 min-w-50  bg-gray-300 animate-pulse;
  }

  .standings-table {
    @apply w-full border-3 rounded-md border-gray-800 text-sm overflow-y-auto max-h-100 col-span-1 row-span-4;
  }
  .standings-table table {
    @apply w-full table-fixed
  }
  .standings-table th {
    @apply bg-gray-300 text-gray-700 text-left px-4 py-2 uppercase tracking-wide text-xs sticky top-0;
  }
  .standings-table td {
    @apply px-4 py-2 border-b border-gray-700 text-gray-800;
  }
  .standings-table tr:hover {
    @apply bg-gray-700/50;
  }
  .standings-table-skeleton {
    @apply min-h-100 min-w-50  bg-gray-300 animate-pulse;
  }

  .results-table {
    @apply w-full border-3 rounded-md border-gray-800 text-sm overflow-y-auto max-h-100 col-span-2 row-span-4 lg:col-span-3;
  }
  .results-table table {
    @apply w-full table-auto;
  }
  .results-table th {
    @apply bg-gray-300 text-gray-700 text-left px-4 py-2 uppercase tracking-wide text-xs sticky top-0;
  }
  .results-table td {
    @apply px-4 py-2 border-b border-gray-700 text-gray-800;
  }
  .results-table tr:hover {
    @apply bg-gray-700/50;
  }
  .results-table-skeleton {
    @apply min-h-100 min-w-50  bg-gray-300 animate-pulse;
  }

  .nav-bar {
    @apply flex sticky top-0 z-10 bg-red-700 w-full justify-items-start text-gray-100 text-2xl font-light lg:mb-10
  }
}

@layer pages {
  .home-page {
  @apply w-full h-full grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-5 lg:grid-rows-4 ;
  }
  .gp-results-page {
  @apply w-full h-full grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-5 lg:grid-rows-4 ;
  }
  .past-results-page {
  @apply w-full h-full grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-5 lg:grid-rows-4 ;
  }
}


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f6f3f4;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5dc;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fffbeb
  }
}
